<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>These are our users:</h1>
        <table border="4px solid black">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Joined on</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}  {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at.strftime('%m-%Y')}}</td>
                <td><a href="/users/{{user.id}}/show">Show</a> | <a href="/users/{{user.id}}/edit">Edit</a> | <a href="/users/{{user.id}}/delete">Delete  </a></td>
            </tr>
            {% endfor %}
        </table>
        <h2><a href="/create">Create New User</a></h2>


<!-- You can do it like an unordered list as well -->
        <ul>
            <!-- This is a for loop that is able to talk to jinji to dynamically populate our render_template -->
            <!-- {% for user in users %} -->
            <!-- This is an OBJECT that has the poperty of ID given to it from the user.py file that holds the User CLASS that contains def  __init__ (self, data) function that established self.id = data['id'] etc-->
            <!-- <li>ID: {{user.id}} First name: {{user.first_name}} Last name: {{user.last_name}}</li>
            {% endfor %} -->
        </ul>
        
    </body>
</html>